/* LandingPage.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.landing-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2017/07/13/08/59/greenhouse-2499758_1280.jpg');
    background-size: cover; /* Ensures proper scaling */
    background-position: center;
    filter: brightness(0.8);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    top: 100px;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 20px; /* Add padding to ensure spacing from edges */
    gap: 20px;
}

.landing_content {
    margin-top: 0; /* Removed fixed margin */
    margin-left: 0; /* Removed fixed margin */
    width: 90%; /* Use a percentage for responsive design */
    max-width: 600px; /* Set a max width for the content */
    text-align: center; /* Center-align text */
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.content p,
.content h1 {
    color: white;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.content p {
    font-size: 25px;
}

.divider {
    width: 50px;
    height: 2px;
    background-color: #4caf50;
    margin: 10px auto; /* Center the divider */
}

.get-started-button {
    padding: 15px 25px;
    font-size: 23px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 40px;
}

.get-started-button:hover {
    background-color: #45a049;
}

.product-list-container {
    position: absolute;
    overflow-x: hidden;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    transition: top 0.5s ease;
    overflow-y: auto;
    z-index: 2;
    backdrop-filter: blur(5px);
}

.product-list-container.visible {
    top: 0;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
        padding: 20px; /* Add padding for smaller screens */
    }

    .landing_content {
        margin-top: 0;
        width: 100%; /* Full width for smaller screens */
        max-width: 500px; /* Adjust max width */
    }

    .content h1 {
        font-size: 36px; /* Adjust font size */
    }

    .content p {
        font-size: 18px; /* Adjust font size */
    }
}

@media screen and (max-width: 480px) {
    .landing_content {
        margin-top: 0;
        width: 100%; /* Full width */
        padding: 10px; /* Add padding */
    }

    .content h1 {
        font-size: 28px; /* Further reduce font size */
    }

    .content p {
        font-size: 16px; /* Further reduce font size */
    }
}
